@model object

@* Dialog box to create new Jaw *@
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Jaw</h5>
                <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (ViewBag.Errors != null)
                {
                    <div class="text-danger">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }
                @if(Model is JawsDTO)
                {
                    <form asp-action="Create" asp-controller="Jaws" method="post" id="CreateForm">
                        <div class="mb-3">
                            <label for="jawName" class="form-label">Jaw Name</label>
                            @if (ViewBag.jaw != null)
                            {
                                <input type="text" class="form-control" name="JawName" value="@((Model as JawsDTO).JawName)" placeholder="Enter Jaw Name...">
                                <input type="hidden" name="JawId" value="@((Model as JawsDTO).JawId)">
                            }
                            else
                            {
                                <input type="text" class="form-control" name="JawName" placeholder="Enter Jaw Name...">
                            }
                        </div>
                        <div class="modal-footer pb-0">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                }
                else if (Model is MachineDTO)
                {
                    <form asp-action="Create" asp-controller="Machine" method="post" id="CreateForm">
                        <div class="mb-3">
                            <label for="machineName" class="form-label">Machine Name</label>
                            @if (ViewBag.machine != null)
                            {
                                <input type="text" class="form-control" name="MachineName" value="@((Model as MachineDTO).MachineName)" placeholder="Enter Machine Name...">
                                <input type="hidden" name="MachineId" value="@((Model as MachineDTO).MachineId)">
                            }
                            else
                            {
                                <input type="text" class="form-control" name="MachineName" placeholder="Enter Machine Name...">
                            }
                        </div>
                        <div class="modal-footer pb-0">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                }
                
                
            </div>
        </div>
    </div>
</div>
